<footer class="bg-dark">

  <div class="container pt-3">
    <div class="row">
      <div class="col-md-4 col-12">
        <h5 class="text-white text-center">TRY-ANGLEについて</h5>
        <ul class="text-white text-center">
          <li>
            <a class="footer-list", href="/">利用ガイド</a>
          </li>
          <li>
            <a class="footer-list", href="/">ヘルプ</a>
          </li>
          <li>
           <a class="footer-list", href="/">お問い合わせ</a>
          </li>
          <li>
            <a class="footer-list", href="/">利用規約</a>
          </li>
          <li>
            <a class="footer-list", href="/">プライバシーポリシー</a>
          </li>
          <li>
            <a class="footer-list", href="/">個人情報に関する基本方針</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <h5 class="text-white text-center">MENU</h5>
        <ul class="text-white text-center">
          <li>
            <a class="footer-list", href="/weights">体重の記録</a>
          </li>
          <li>
            <a class="footer-list", href="/meals">食事の記録</a>
          </li>
          <li>
            <a class="footer-list", href="/trainings">トレーニングの記録</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <h5 class="text-white text-center">SUPPORT</h5>
        <ul class="text-white text-center">
          <li>
            <a class="footer-list", href="/">トレーニングコラム</a>
          </li>
          <li>
            <a class="footer-list", href="/">大会のスケジュール</a>
          </li>
          <li>
            <a class="footer-list", href="/">オンラインショップ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white text-center py-3">
    ©️2021 BODY MANAGEMENT
  </div>
</footer>