<footer class="bg-dark">

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <h5 class="text-white">BODY MANAGEMENTについて</h5>
        <ul class="text-white">
          <li>利用ガイド</li>
          <li>ヘルプ</li>
          <li>お問い合わせ</li>
          <li>利用規約</li>
          <li>プライバシーポリシー</li>
          <li>個人情報に関する基本方針</li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <h5 class="text-white">  MENU</h5>
        <ul class="text-white">
          <li>体重の記録</li>
          <li>食事の記録</li>
          <li>トレーニングの記録</li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <h5 class="text-white">SUPPORT</h5>
        <ul class="text-white">
          <li>トレーニングコラム</li>
          <li>コンテストのスケジュール</li>
          <li>オンラインショップ</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white text-center py-3">
    ©️2021 BODY MANAGEMENT
  </div>
</footer>