    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <a class="navbar-brand text-dark" href="/">TRY-ANGLE</a>
          <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-dark" href="/weights">体重の記録</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/meals">食事の記録</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/trainings">トレーニングの記録</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="https://github.com/kyock-lee/body-management">使い方(GitHub)</a>
              </li>
            </ul>
          </div>
          <div class="user_nav">
            <ul class="navbar-nav text-nowrap">
              <% if user_signed_in? %>
                  <li class="user-name p-2 mx-4"><%= link_to current_user.nickname + %{さん}, "#"%></li>
                  <li class="user-logout p-2 mx-4"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <% else %>
                  <li class="user-login p-2 mx-4"><%= link_to 'ログイン', new_user_session_path %></li> 
                  <li class="user-registration p-2 mx-4"><%= link_to '新規登録', new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
        
      </nav>
    </header>